<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a (click)="contadorDismiss()"  class="page-link"  aria-label="Previous"
      [routerLink]="['/character', this.characterService.contador-2]">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    <li class="page-item" *ngFor="let pagina of paginas" [ngClass]="pagina == pageActual?'active':''">
     <a class="page-link" [routerLink]="['/character', pagina]"> {{pagina}} </a> 
    </li>

    <li class="page-item">
      <a (click)="contadorPage()" class="page-link"  aria-label="Next" [routerLink]="['/character', this.characterService.contador]">
        <span aria-hidden="true">&raquo;</span>
      </a>
     
    </li>
  </ul>
</nav>

    