
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">Rick and Morty</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="character">CHARACTER<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link">LOCATION</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link">EPISODE</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link">ABOUT</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #name>
      <button class="btn btn-outline-dark my-2 my-sm-0" (click)="searchCharacter(name.value, $event)">Search</button>
    </form>
  </div>
</nav>