<div class="containerAll">
<app-navbar (characterfromSon)="getCharacterSon($event)"></app-navbar>
<div class="container mt-5">
  <div class="row">
    <div *ngIf="loading && !search" class="windows8">
      <div class="wBall" id="wBall_1">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_2">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_3">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_4">
        <div class="wInnerBall"></div>
      </div>
      <div class="wBall" id="wBall_5">
        <div class="wInnerBall"></div>
      </div>
    </div>

    <div *ngFor="let character of characters" class="card mb-2 col-xs-12 col-sm-4 col-md-3">
      <img [src]=character.image class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
       
        <a (click)="abrirModal(character)" class="btn btn-block btn-light">LOAD MORE</a>
      </div>
    </div>
  </div>
</div>
<app-pagination *ngIf="characters && !loading && !search"></app-pagination>
<app-modal *ngIf="characterSeleccionado" [character]="characterSeleccionado"></app-modal>

</div>